RewriteEngine on

RewriteCond %{SERVER_PORT} ^80$
RewriteCond %{HTTP_HOST} !localhost
RewriteCond %{HTTP_HOST} ^fs.just.net.pl$
RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} localhost
RewriteCond %{REQUEST_URI} !sw.js
RewriteCond %{REQUEST_URI} !~kuba/jcubic/wayne/poc-fs/admin/
RewriteRule ^(.*)$ /~kuba/jcubic/wayne/poc-fs/admin/$1 [L,R=307]

RewriteCond %{HTTP_HOST} !localhost
RewriteCond %{REQUEST_URI} !sw.js
RewriteCond %{REQUEST_URI} !^/admin/
RewriteRule ^(.*)$ /admin/$1 [L,R=307]
